{% extends 'base.html' %}

{% block head %}
<title></title>
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    
<div class="container">

    <ul class="tab-nav">

        {% for key, value in tables_dict.items() %}
            <li><a href="#{{key}}" class="tab-link">{{key}}</a></li>
        {% endfor %}
    
    </ul>

    {% for key, value in tables_dict.items() %}
        <div id="{{key}}" class="tab-content">

            <table class = "interactive_table" style="width: 50vw;text-align: center;">
                <thead>
                    <tr>
                        {% for column_name in value %}
                            <th style="text-align: center;">{{column_name}}</th>
                        {% endfor %}
                    </tr>
                <thead>

                <tbody>
                    {% for table_name, table_content in table_data.items() %}
                        {% if table_name == key %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="white-space:nowrap;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                    {% set delete_end_point = {'e':''} %}
                                    {% for index in range(value | length) %}
                                    {% if delete_end_point.update({'e':delete_end_point.e ~ table_name ~ "_" ~ value[index] ~ "=" ~ table_row[index] ~ "&"}) %} {% endif %}
                                    {% endfor %}
                                    <td><a href="/delete/{{ table_name }}?{{ delete_end_point['e'] }}">X</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                            
                </tbody>
            </table>
            

                    
            
            <form action="/add/{{key}}" method="POST">
                {% for attribute in value %}
                    <label for="{{key}}_{{attribute}}">{{attribute}}</label>
                    <input type="text" name="{{key}}_{{attribute}}" id="{{key}}_{{attribute}}">
                    <br>
                {% endfor %}
                <input type="submit" value="Add">
            </form>
        </div>
    {% endfor %}
 
</div>


<script>

    // $.fn.editable.defaults.mode = 'inline';
    
    $(document).ready( function () {

        $('.interactive_table').editable({
            container:'body',
            selector:'td.update',
            url:'/update',
            title:'update',
            type:'POST',
            validate:function(value){
                if($.trim(value) == '')
                {
                    return 'This field is required';
                }
            }
        })
        
        var dataTable = $('.interactive_table').DataTable({
            "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "iDisplayLengtg": 3,
        });
    
        
    
    } );

    // document.querySelector('.editor').addEventListener('keypress', function (e) {
    //     var key = e.which || e.keyCode;
    //     if (key === 13) { // 13 is enter
    //         var text = document.getElementById(".editor").value;
    //         if (text.includes("w")) {
    //             alert("Omg, the string contains a W, try again");
    //         } else {
    //             document.getElementById(".editor").blur();
    //         }
    //     }
    // });

    
    </script>

{% endblock %}