{% extends 'base.html' %}

{% block head %}
<title></title>
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
<script>
    function setActive(id){
        var elements = document.getElementsByClassName('tab-link selected-tab');
        while(elements.length > 0){
            elements[0].classList.remove('selected-tab');
        }
        var ele = document.getElementById(id);
        ele.classList.add("selected-tab");   
    }
    function getHash(){
        var hash = window.location.hash.substr(1);
        setActiveFirst(hash+'1');
    }

    function setActiveFirst(id){
        var ele = document.getElementById(id);
        console.log(id);
        ele.classList.add("selected-tab"); 
    }

    window.onload = function(){
        setTimeout(getHash, 1);
    }

</script>
{% endblock %}

{% block body %}
<!-- getHash() -->
<div class = "heading_">Library Management System</div>
<div class="container" >

    <ul class="tab-nav">

        {% for key, value in tables_dict.items() %}
            <li><a href="#{{key}}" class="tab-link" style="text-decoration: none;" id = "{{key}}1" onclick="setActive('{{key}}1')">{{key}}</a></li>
        {% endfor %}

        <li><a href="#joins" class="tab-link" style="text-decoration: none;" id = "joins1" onclick="setActive('joins1')">Miscellaneous Joins</a></li>
    
    </ul>
    <br>
    {% for key, value in tables_dict.items() %}
        <div id="{{key}}" class="tab-content" >

            <table class = "interactive_table" style="text-align: center; margin-left:auto; margin-right: auto;">
                <thead>
                    <tr>
                        {% for column_name in value %}
                            <th style="text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">{{column_name}}</th>
                        {% endfor %}
                            <th style="text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">Delete</th>
                    </tr>
                <thead>

                <tbody>
                    {% for table_name, table_content in table_data.items() %}
                        {% if table_name == key %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                    {% set delete_end_point = {'e':''} %}
                                    {% for index in range(value | length) %}
                                    {% if delete_end_point.update({'e':delete_end_point.e ~ table_name ~ "_" ~ value[index] ~ "=" ~ table_row[index] ~ "&"}) %} {% endif %}
                                    {% endfor %}
                                    <!-- <td style = "padding: 5px;"><a class = "delete-entry" href="/delete/{{ table_name }}?{{ delete_end_point['e'] }}">X</a></td> -->
                                    <td style="padding: 5px;"><a class = "delete-entry" href="/delete/{{ table_name }}?{{ delete_end_point['e'] }}">X</a></td>

                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                            
                </tbody>
            </table>

            <hr style="border-width: 5px;">
            
            {% if key == "Publishers" %}
                <div class="publisher_query" style="">

                    <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                        <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">TASK 1</p></div>
                        <hr style="margin: 0px;">      
                        <form action="/#Publishers" method="POST" id = "input-fields">
                            <div class = "table-row" >
                                <label for="task" style="font-weight:460;">Task</label> &nbsp;&nbsp;
                                <input type="text" name="task" id="task" style="font-weight:460;" placeholder="Task 1" value="1" readonly="readonly">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="publisher_name" style="font-weight:460;">Publisher Name</label> &nbsp;&nbsp;
                                <input type="text" name="publisher_name" id="publisher_name" style="font-weight:460;">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="street_name" style="font-weight:460;">Street Name</label> &nbsp;&nbsp;
                                <input type="text" name="street_name" id="street_name" style="font-weight:460;">
                                <br>
        
                            </div>
                            <input type="submit" value="Search" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                        </form>
                    </div>
                
                
                <table class = "task_table" style="text-align: center; margin-left:auto; margin-right: auto;">
                    <thead>
                        <tr>
                            {% for column_name in value %}
                                <th style="text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">{{column_name}}</th>
                            {% endfor %}                        </tr>
                    <thead>

                    <tbody>
                        {% for table_name, table_content in task_data.items() %}
                        {% if table_name == 1 %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                                
                    </tbody>
                </table>

            </div>
            {% endif %}

            {% if key == "Users" %}
                <div class="user_query" style="">

                    <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                        <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">TASK 2</p></div>
                        <hr style="margin: 0px;">      
                        <form action="/#Users" method="POST" id = "input-fields">
                            <div class = "table-row" >
                                <label for="task" style="font-weight:460;">Task</label> &nbsp;&nbsp;
                                <input type="text" name="task" id="task" style="font-weight:460;" placeholder="Task 2" value="2" readonly="readonly">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="name" style="font-weight:460;">Username pattern</label> &nbsp;&nbsp;
                                <input type="text" name="name" id="name" style="font-weight:460;">
                                <br>
        
                            </div>
                            <input type="submit" value="Search" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                        </form>
                    </div>
                
                
                <table class = "task_table" style="text-align: center; margin-left:auto; margin-right: auto;">
                    <thead>
                        <tr>
                            {% for column_name in value %}
                                <th style="text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">{{column_name}}</th>
                            {% endfor %}                        </tr>
                    <thead>

                    <tbody>
                        {% for table_name, table_content in task_data.items() %}
                        {% if table_name == 2 %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                                
                    </tbody>
                </table>

            </div>

            <hr style="border-width: 5px;">
            
                <div class="users_query" style="">

                    <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                        <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">TASK 7</p></div>
                        <hr style="margin: 0px;">      
                        <form action="/#Users" method="POST" id = "input-fields">
                            <div class = "table-row" >
                                <label for="task" style="font-weight:460;">Task</label> &nbsp;&nbsp;
                                <input type="text" name="task" id="task" style="font-weight:460;" placeholder="Task 7" value="7" readonly="readonly">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="table_name" style="font-weight:460;">Table Name</label> &nbsp;&nbsp;
                                <input type="text" name="table_name" id="table_name" style="font-weight:460;" placeholder="{{key}}" value="{{key}}" readonly="readonly">
                                <br>
        
                            </div>
                            <input type="submit" value="Search" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                        </form>
                    </div>
                
                
                <table class = "task_table" style="text-align: center; margin-left:auto; margin-right: auto;">
                    <thead>
                        <tr>
                            
                                <th style="width:30vw;text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">Names of all users working in the library</th>
                                               </tr>
                    <thead>

                    <tbody>
                        {% for table_name, table_content in task_data.items() %}
                        {% if table_name == 7 %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                                
                    </tbody>
                </table>

            </div>
            {% endif %}

            {% if key == "Transaction" %}
                <div class="transaction_query" style="">

                    <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                        <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">TASK 4</p></div>
                        <hr style="margin: 0px;">      
                        <form action="/#Transaction" method="POST" id = "input-fields">
                            <div class = "table-row" >
                                <label for="task" style="font-weight:460;">Task</label> &nbsp;&nbsp;
                                <input type="text" name="task" id="task" style="font-weight:460;" placeholder="Task 4" value="4" readonly="readonly">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="date" style="font-weight:460;">Date</label> &nbsp;&nbsp;
                                <input type="text" name="date" id="date" style="font-weight:460;">
                                <br>
        
                            </div>
                            <input type="submit" value="Search" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                        </form>
                    </div>
                
                
                <table class = "task_table" style="text-align: center; margin-left:auto; margin-right: auto;">
                    <thead>
                        <tr>
                            {% for column_name in value %}
                                <th style="text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">{{column_name}}</th>
                            {% endfor %}                        </tr>
                    <thead>

                    <tbody>
                        {% for table_name, table_content in task_data.items() %}
                        {% if table_name == 4 %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                                
                    </tbody>
                </table>

            </div>
            {% endif %}

                <div class="penalties_query" style="">

                    <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                        <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">TASK 5</p></div>
                        <hr style="margin: 0px;">      
                        <form action="/#{{key}}" method="POST" id = "input-fields">
                            <div class = "table-row" >
                                <label for="task" style="font-weight:460;">Task</label> &nbsp;&nbsp;
                                <input type="text" name="task" id="task" style="font-weight:460;" placeholder="Task 5" value="5" readonly="readonly">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="table_name" style="font-weight:460;">Table Name</label> &nbsp;&nbsp;
                                <input type="text" name="table_name" id="table_name" style="font-weight:460;" placeholder="{{key}}" value="{{key}}" readonly="readonly">
                                <br>
        
                            </div>
                            <div class = "table-row" >
                                <label for="field_name" style="font-weight:460;">Attribute Name (Specify Single Attribute)</label> &nbsp;&nbsp;
                                <input type="text" name="field_name" id="field_name" style="font-weight:460;">
                                <br>
        
                            </div>
                            <input type="submit" value="Search" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                        </form>
                    </div>
                
                
                <table class = "task_table" style="text-align: center; margin-left:auto; margin-right: auto;">
                    <thead>
                        <tr>
                            
                                <th style="width:30vw;text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">Count of NONNULL instances of specified attribute</th>
                                               </tr>
                    <thead>

                    <tbody>
                        {% for table_name, table_content in task_data.items() %}
                        {% if table_name == 5 %}
                            {% for table_row in table_content[key] %}
                                <tr>
                                    {% for i in range(table_row|length) %}
                                        <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                                
                    </tbody>
                </table>

            </div>
            
            <hr style="border-width: 5px;">

            <br>
            <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">Input Values to be Inserted</p></div>
                <hr style="margin: 0px;">      
                <form action="/add/{{key}}" method="POST" id = "input-fields">
                    {% for attribute in value %}
                    <div class = "table-row" >
                        <label for="{{key}}_{{attribute}}" style="font-weight:460;">{{attribute}}</label> &nbsp;&nbsp;
                        <input type="text" name="{{key}}_{{attribute}}" id="{{key}}_{{attribute}}" style="font-weight:460;">
                        <br>

                    </div>
                    {% endfor %}
                    <input type="submit" value="Add" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                </form>
            </div>
        </div>
        <!-- <br> -->
        
    {% endfor %}

    <div id="joins" class="tab-content" >
        <div class="join_query" style="">

            <div class = "input-form" style="margin-left: auto; margin-right: auto;">
                <div style="text-align: center; font-size: 1em; padding-top: 0.5em;"><p style="color: #392759">TASK 7</p></div>
                <hr style="margin: 0px;">      
                <form action="/#joins" method="POST" id = "input-fields">
                    <div class = "table-row" >
                        <label for="task" style="font-weight:460;">Task</label> &nbsp;&nbsp;
                        <input type="text" name="task" id="task" style="font-weight:460;" placeholder="Task 7" value="7 (Miscellaneous)" readonly="readonly">
                        <br>

                    </div>
                    <div class = "table-row" >
                        <label for="table1_name" style="font-weight:460;">Table 1 Name</label> &nbsp;&nbsp;
                        <input type="text" name="table1_name" id="table1_name" style="font-weight:460;">
                        <br>

                    </div>
                    <div class = "table-row" >
                        <label for="table2_name" style="font-weight:460;">Table 2 Name</label> &nbsp;&nbsp;
                        <input type="text" name="table2_name" id="table2_name" style="font-weight:460;">
                        <br>

                    </div>
                    <div class = "table-row" >
                        <label for="join_attribute" style="font-weight:460;">Common Attribute for Join (Specify Single Attribute)</label> &nbsp;&nbsp;
                        <input type="text" name="join_attribute" id="join_attribute" style="font-weight:460;">
                        <br>

                    </div>
                    <input type="submit" value="Search" style="color: black; border-radius: 10px; font-size: 1.2em; padding-left: 10px; padding-right: 10px ;margin-top: 2vh; background-color: #F8F7FF;">
                </form>
            </div>
        
        
        <table class = "task_table" style="text-align: center; margin-left:auto; margin-right: auto;">
            <thead>
                <tr>
                    {% for column_name in task_keys %}
                        <th style="text-align: center; font-family: Roboto; font-size: 1.2em; padding: 10px; padding-right: 40px;color: #368F8B">{{column_name}}</th>
                    {% endfor %}                        </tr>
            <thead>

            <tbody>
                {% for table_name, table_content in task_data.items() %}
                {% if table_name == -1 %}
                    {% for table_row in table_content %}
                        <tr>
                            {% for i in range(table_row|length) %}
                                <td style="padding: 5px;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[0]}},{{i}}">{{table_row[i]}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
                        
            </tbody>
        </table>

    </div>
    </div>
 
</div>
<div class = "footer" style="margin-top: 80vh;">
    <div id = "contact">
        &#169; Library Management System <br> 
        <p style="color: rgb(255, 255, 255); font-weight: 100; font-size: 84%;">CS432 - Database Management System</p>
    </div>
    <div id = "G1" class = "team-details">
        <p class = "team-name">TEAM G1</p>
        <p class = "members">
            Chetan Kishore<br>
            Gaurav Viramgami<br>
            Manas Mulpuri<br>
            Shrreya Singh
        </p>
    </div>
    <div id = "G2" class = "team-details">
        <p class = "team-name">TEAM G2</p>
        <p class = "members">
            Mahika Jaguste<br>
            Nipun Mahajan<br>
            Paras Gupta<br>
            Shubh Lavti
        </p>
    </div>
</div>


<script>

    // $.fn.editable.defaults.mode = 'inline';
    
    $(document).ready( function () {

        $('.interactive_table').editable({
            container:'body',
            selector:'td.update',
            url:'/update',
            title:'update',
            type:'POST',
            validate:function(value){
                if($.trim(value) == '')
                {
                    return 'This field is required';
                }
            }
        })
        
        var dataTable = $('.interactive_table').DataTable({
            "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "iDisplayLengtg": 3,
        });
    
        
    
    } );

    $(document).ready( function () {

        var dataTable = $('.task_table').DataTable({
            "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "iDisplayLengtg": 3,
    });



        } );

    // document.querySelector('.editor').addEventListener('keypress', function (e) {
    //     var key = e.which || e.keyCode;
    //     if (key === 13) { // 13 is enter
    //         var text = document.getElementById(".editor").value;
    //         if (text.includes("w")) {
    //             alert("Omg, the string contains a W, try again");
    //         } else {
    //             document.getElementById(".editor").blur();
    //         }
    //     }
    // });

    
    </script>

{% endblock %}