{% extends 'base.html' %}

{% block head %}
<title></title>
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    
<div class="container">

    <ul class="tab-nav">

        {% for key, value in tables_dict.items() %}
            <li><a href="#{{key}}" class="tab-link">{{key}}</a></li>
        {% endfor %}
    
    </ul>

    {% for key, value in tables_dict.items() %}
        <div id="{{key}}" class="tab-content">

            <table>
                <thead>
                    <tr>
                        {% for column_name in value %}
                            <th>{{column_name}}</th>
                        {% endfor %}
                    </tr>
                <thead>

                <tbody>
                    {% for table_name, table_content in table_data.items() %}
                        {% if table_name == key %}
                            {% for table_row in table_content %}
                                <tr>
                                    {% for row in range(table_row | length) %}
                                        {% set update_end_point = {'e':''} %}
                                        {% for index in range(value | length) %}
                                        {% if update_end_point.update({'e':update_end_point.e ~ table_name ~ "_" ~ value[index] ~ "=" ~ table_row[index] ~ "&"}) %} {% endif %}
                                        {% endfor %}
                                        {% if update_end_point.update({'e':update_end_point.e ~ "New_" ~ table_name ~ "_" ~ value[row] ~ "="}) %} {% endif %}
                                        <td contenteditable="true" onkeypress="preventNewLine(event, this)" name="/update/{{ table_name }}?{{ update_end_point['e'] }}" onblur="updateValue(this)">{{ table_row[row] }}</td>
                                        <!-- <td><a href="/update/{{ table_name }}?{{ update_end_point }}">Update</a></td>  -->
                                    {% endfor %}
                                    {% set delete_end_point = {'e':''} %}
                                    {% for index in range(value | length) %}
                                    {% if delete_end_point.update({'e':delete_end_point.e ~ table_name ~ "_" ~ value[index] ~ "=" ~ table_row[index] ~ "&"}) %} {% endif %}
                                    {% endfor %}
                                    <td><a href="/delete/{{ table_name }}?{{ delete_end_point['e'] }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                            
                </tbody>
            </table>
            
            <form action="/add/{{key}}" method="POST">
                {% for attribute in value %}
                    <label for="{{key}}_{{attribute}}">{{attribute}}</label>
                    <input type="text" name="{{key}}_{{attribute}}" id="{{key}}_{{attribute}}">
                    <br>
                {% endfor %}
                <input type="submit" value="Add">
            </form>
        </div>
    {% endfor %}
 
</div>

<script>

    function preventNewLine (event, element) {
        if (event.which === 13) {
            event.preventDefault();
            element.blur();
    }

    }
    function updateValue (event) {
        let update_end_point = event.getAttribute("name");
        let new_value = event.innerHTML;
        update_end_point = update_end_point + '"' + new_value.toString() + '"';
        const xhr = new XMLHttpRequest();
        xhr.open("GET", update_end_point);
        xhr.send();
    }
</script>

{% endblock %}