<!-- {% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Task</h1>
    
    <form action="/update/{{task[0]}}" method="POST">
        <input type="text" name="update_content" id="content" value="{{task[1]}}">
        <input type="submit" value=" Update Task">
    </form>

</div>
{% endblock %}

{% comment %} <form action="/add/{{key}}" method="POST">
    {% for attribute in value %}
        <label for="{{key}}_{{attribute}}">{{attribute}}</label>
        <input type="text" name="{{key}}_{{attribute}}" id="{{key}}_{{attribute}}">
        <br>
    {% endfor %}
    <input type="submit" value="Add">
</form> {% endcomment %}

